<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Verivox Geo API Suite" verbose="1" configfailurepolicy="continue">
    <test name="City and Street Tests" enabled="true">
        <classes>
            <class name="com.itkhanz.tests.CitiesTest">
                <methods>
                    <include name="test_cities_for_given_postcode"/>
                    <include name="test_cities_for_invalid_postcode"/>
                </methods>
            </class>
            <class name="com.itkhanz.tests.StreetsTest">
                <methods>
                    <include name="test_streets_for_given_city_and_postcode"/>
                    <include name="test_streets_for_berlin_10409_postcode"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>